<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<!-- 	<bean id="daoDeAula" class="ejercicio03Dao.ListAulaDao"/> -->
	
<!-- 	<bean id="daoDeNegocio" class="ejercicio03Negocio.GestionDeAulas"> -->
<!-- 	<property name="aulaDao" ref="daoDeAula" /> -->
<!-- </bean> -->

	<bean id="puestosDeAlumnos" class="java.util.HashSet" scope="prototype"/>
	<bean id="puestosDeProfesores" class="java.util.HashSet" scope="prototype"/>
	
	<context:component-scan base-package="ejercicio03Negocio"/>
	<context:component-scan base-package="ejercicio03Lanzador"/>
	<context:component-scan base-package="ejercicio03Dao"/>
	<context:component-scan base-package="com.curso.java.oo.ejercicio01oo.model"/>

</beans>
